{% extends "base.html" %} <!-- Inherit from base.html template -->

{% block title %}Discover your trip{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='chart/leaflet.css') }}"> <!-- CSS for Leaflet (MapChartDisplay) -->
<link rel="stylesheet" href="{{ url_for('static', filename='chart/homechart.css') }}"><!-- custom CSS -->
{% endblock %}
{% block extra_start_js %}
<script src="{{ url_for( 'static', filename='chart/leaflet.js') }}" defer></script> <!-- JS for Leaflet (MapChartDisplay) -->
<script src="{{ url_for( 'static', filename='chart/homechart.js')}}" defer></script> <!-- custom JS  -->
{% endblock %}

{% block header_title %}Weather data visualization platform{% endblock %}
{% block header_subtitle %}Weather of Perth Regional Area{% endblock %}

{% block main_content %}

<div id="date-control-container">
    <input type="date" id="date-slider" />                        
    
    <input type="range" id="date-range" step="1" />

</div>
<div  id="map" class="map-container">
</div>

<!-- Content box to the right of main-content area -->
<aside class="content-box">
<h2>Additional Information</h2>
<p></p>
<ul>
    <li>5 day weather/ forecast</li>                    
        <div id="weather-series">
            <div class="forecast-series">
                <div class="forecast-day">
                    <span class="forecast-date">Previous<br> Day</span>
                    <img class="forecast-icon" src="" alt="weather">
                    <span class="forecast-temp"></span>
                </div>
                <div class="forecast-day">
                    <span class="forecast-date">Current<br> Day</span>
                    <img class="forecast-icon" src="" alt="weather">
                    <span class="forecast-temp"></span>
                </div>
                <div class="forecast-day">
                    <span class="forecast-date">Day 2&nbsp;<br>&nbsp;</span>
                    <img class="forecast-icon" src="" alt="weather">
                    <span class="forecast-temp"></span>
                </div>
                <div class="forecast-day">
                    <span class="forecast-date">Day 3&nbsp;<br>&nbsp;</span>
                    <img class="forecast-icon" src="" alt="weather">
                    <span class="forecast-temp"></span>
                </div>
                <div class="forecast-day">
                    <span class="forecast-date">Day 4&nbsp;<br>&nbsp;</span>
                    <img class="forecast-icon" src="" alt="weather">
                    <span class="forecast-temp"></span>
                </div>
            </div>
        </div>
    </li>
    <li>
        <button id="get-tips-btn" type="button" class="content-box-btn">Get Travel Tips</button>
        <div id="main-spots-section" style="display:none;">
            <strong>Main Spots:</strong>
            <ul id="main-spots-list"></ul>
        </div>
        <br>
        <div id="travel-tips-section" style="display:none;">
            <strong>Travel Tips:</strong>
            <ul id="travel-tips-list"></ul>
        </div>
    </li>
    <li>
        <button id="share-to-btn" type="button" class="content-box-btn">Share With Friends</button>
    </li>

</ul>
</aside>
{% endblock %} <!-- End of the main-content block -->

{% block extra_end_js %}
{% endblock %}
