<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <!-- Import main stylesheet -->
    <link rel="stylesheet" href="{{ url_for( 'static', filename='login/main.css') }}">
    <!-- Import register page specific stylesheet -->
    <link rel="stylesheet" href="{{ url_for( 'static', filename='login/register.css') }}">
</head>
<body>
    <div class="container">
        <!-- Form container that holds the registration form -->
        <div class="form-container">
            <!-- Page heading -->
            <h1>Join us today</h1>
            <!-- Registration form -->
            <form id="registerForm" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <!-- Username input group -->
                    <label for="newUsername">New Username</label>
                    {{ form.username(id="newUsername", required=True, class_="form-control") }}
                    {% for error in form.username.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <!-- email input group -->
                    <label for="email">Email</label>
                    {{ form.email(id="email", required=True, class_="form-control") }}
                    {% for error in form.email.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <!-- Password input group -->
                    <label for="newPassword">New Password</label>
                    {{ form.password(id="newPassword", required=True, class_="form-control") }}
                    {% for error in form.password.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <!-- Confirm Password input group -->
                    <label for="confirmPassword">Confirm Password</label>
                    {{ form.confirm_password(id="confirmPassword", required=True, class_="form-control") }}
                    {% for error in form.confirm_password.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}
                </div>
                <!-- Error message display area -->
                <div class="error-message" id="register-error-message"></div>
                <div class="form-group">
                    <!-- Submit button group -->
                    {{ form.submit(class_="btn") }}
                </div>
                <div class="form-footer">
                    <!-- Login link -->
                    <p>Have an account already?<a href="{{url_for('auth.login')}}">Log in</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
