{% extends "base.html" %}

{% block title %}Share your idea to friends!{% endblock %}

{% block extra_css %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='upload/upload.css') }}"> -->
{% endblock %}

{% block header_title %}Weather data visualization platform{% endblock %}

{% block header_subtitle %}Please enter user you want to share{% endblock %}

{% block main_content %}
<h1>Under developing</h1>
{% endblock %}

{% block extra_end_js %}
<!-- <script src="{{url_for('static',filename='upload/upload.js')}}"></script> -->
{% endblock %}